body {
    background-color:#496779;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    color: white;
}

h2 {
    font-weight: bold;
}

#content {
    width: 1280px;
    margin: auto;
}

.line {
    width: 100%;
    height: 4px;
    background-color: black;
}

#languages {
    display: flex;
    background-color: #bfcfd9;
}

.language {
    width: 50%;
    margin: 10px;
}

.mission {
    margin: 5px 0px;
    font-weight: bold;
}

.controls {
    margin: 5px 0px;
}

#de {
    float: left;
}

.hint {
    font-weight: bold;
}